.mxr0Kms3m5 {
  cursor: pointer;
  transform-origin: 0% 0%;
}

.mxr0Kms3m5:hover {
  transform: scale(105%);
}

.oaufAfS7tU {
  cursor: pointer;
  transform-origin: 100% 0%;
}

.oaufAfS7tU:hover {
  transform: scale(105%);
}

.Nw77L5UbA7 {
  cursor: pointer;
  transform-origin: 0% 100%;
}

.Nw77L5UbA7:hover {
  transform: scale(105%);
}

.HPNXA06qJ7 {
  width: 100%;
  max-width: 1200px;
}

.I1LR7ekFaW {
  width: 100%;
  max-width: 500px;
}

.twnB7Cz2Lp {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.ggcYR7EQsk {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.Ykbot8gOoa {
  display: grid;
  grid-template-columns: repeat(1fr);
}

@media only screen and (min-width: 400px) {
  .twnB7Cz2Lp {
    grid-template-columns: 60% 1fr !important;
  }
}

@media only screen and (min-width: 500px) {
  .ggcYR7EQsk {
    grid-template-columns: 50% 1fr !important;
  }
  .Ykbot8gOoa {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .Ykbot8gOoa {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .Ykbot8gOoa {
    grid-template-columns: repeat(4, 1fr);
  }
}
